body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

.form {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  max-width: 300px;
  border: 1px gray solid;
  border-radius: 8px;
}

.form__input {
  display: block;
  width: 100%;
}

.form__submit-btn {
  display: block;
  width: 100%;
}

.lift-simulator {
  display: flex;
  flex-direction: column;
  padding: 0 8rem;
}

.floor {
  height: 100px;
  width: 100%;
  border-bottom: solid 1px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.floor__number {
  white-space: nowrap;
  align-self: flex-end;
  margin-bottom: -8px;
}

.floor__wrapper {
  width: 100%;
  display: flex;
  gap: 1rem;
  position: relative;
}

.floor__down-button,
.floor__up-button {
  width: 60px;
  padding: 6px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
}

.floor__down-button {
  background-color: rgb(240, 217, 10);
}

.floor__up-button {
  background-color: rgb(19, 224, 19);
}

.lift {
  position: absolute;
  bottom: 0;
  background-color: rgb(41, 183, 188);
  /* animation: moveLift 2s ease 0s 1 normal none; */
}

@keyframes moveLift {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100px);
  }
}
